<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite thread-count="1" parallel="classes" name="Murlee's ROCPS">
 <listeners>
   <listener class-name="com.murlee.utility.CustomeTestListner"/>
 </listeners>
  <test name="My Login">
    <classes>
  		 <class name="com.murlee.test.LoginToAppTC01"/> 
        <!-- <class name="com.murlee.test.TC02NavigateToScreen"/> --> 
       <!-- <class name="com.murlee.test.TC03NavigatoAllScreensinROCPS"/> --> 
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->



